<mat-toolbar color="primary">
    <span>
      <a routerLink="/">Articles</a>
    </span>
    <span class="spacer"></span>
    <ul>
      <li>
        <a mat-button routerLink="/create" routerLinkActive="mat-accent">New Article</a>
      </li>
      <li *ngIf="!userAuthenticated">
        <a mat-button routerLink="/login" routerLinkActive="mat-light"> login</a></li>
        <li *ngIf="!userAuthenticated">
          <a mat-button routerLink="/signup" routerLinkActive="mat-light"> signup</a></li>
          <li *ngIf="userAuthenticated" >
            <button mat-button (click)="onLogout()"> logout </button></li>
    </ul>
  </mat-toolbar>

